body{
    background-image: url(../images/engrais.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 20px 0px #0000001a;
    backdrop-filter: blur(10px);
  }
  
  h1{
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  select {
    display: block;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
  }
  
  option {
    font-size: 1rem;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  .sexe{
    display: flex;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }

  a {
    color: green;
    font-size: 16px;
    text-decoration: none;
  }